.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.mainText h2 {
  padding-top: 97px;
  padding-left: 70px;
  font-size: 35px;
  line-height: 39px;
}

.mainText p {
  padding-top: -8px;
  font-style: 16px;
  margin-left: 70px;
  line-height: 24px;
}

.mainText .btn2 {
  width: 159px;
  height: 40px;
  margin-left: 70px;
  margin-top: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 186, 252, 1);
  color: white;
  transition: all 0.5s;
}

.mainText .btn2:hover {
  color: rgba(0, 186, 252, 1);
  background-color: #323145;
}

.mainImg img {
  width: 558px;
  height: 358px;
  margin-left: 740px;
  margin-top: -260px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.mainImg img:hover {
  transform: scale(1.02);
}

.hero h3 {
  margin-left: 650px;
  margin-top: 110px;
}

.hero p {
  margin-left: 380px;
  font-style: 16px;
  line-height: 24px;
}

.mainCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.mainCard .card1,
.mainCard .card2,
.mainCard .card3,
.mainCard .card4,
.mainCard .card5 {
  width: 300px;
  height: 260px;
  padding-top: 24px;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.mainCard .card1 img,
.mainCard .card2 img,
.mainCard .card3 img,
.mainCard .card4 img,
.mainCard .card5 img {
  padding-left: 50px;
  cursor: pointer;
}

.mainCard .card1 h3,
.mainCard .card2 h3,
.mainCard .card3 h3,
.mainCard .card4 h3,
.mainCard .card5 h3 {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.mainCard .card1 p,
.mainCard .card2 p,
.mainCard .card3 p,
.mainCard .card4 p,
.mainCard .card5 p {
  margin-left: 99px;
}

.btn3 {
  margin-left: 560px;
  width: 167px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  background-color: rgba(0, 186, 252, 1);
}

.btn3:hover {
  background-color: #323145;
  color: rgba(0, 186, 252, 1);
}

.sahifa {
  margin-left: 16px;
  color: rgba(0, 186, 252, 1);
}

.info h3 {
  /* text-align: center; */
  margin-left: 630px;
  margin-top: 132px;
}

.info p {
  margin-left: 420px;
  line-height: 24px;
  font-size: 16px;
}

.info .info1 {
  margin-top: 24px;
  margin-left: 334px;
}

.info .info1 img {
  margin-top: 24px;
  margin-left: -20px;
  width: 300px;
  height: 278px;
}

.info .info1 h3 {
  margin-top: -190px;
  margin-left: 310px;
}

.info .info1 p {
  margin-left: 310px;
  font-style: 16px;
  line-height: 24px;
}

.info .info2 {
  display: flex;
  margin-top: 24px;
}

.info .info2 img {
  margin-left: 380px;
  width: 300px;
  height: 278px;
}

.info .info2 h3 {
  width: 355px;
  height: 26px;
  opacity: 0px;
  margin-left: 390px;
  line-height: 24px;
}

/* .info .info2 h3 {
  margin-left: 300px;
}

.info .info2 p {
  margin-left: 300px;
  margin-top: -100px;
}

.info .info2 img {
  margin-left: 786px;
} */
